<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
        <h2>Categories</h2>
    </div>
    <div id="search" fxLayoutAlign="end" fxFlex.gt-lg="80" fxFlex.gt-md="80" fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80">
        <mat-form-field *ngIf="isSearchVisible">
            <input matInput type="text" (keyup)="updateCategories()" [(ngModel)]="search" autofocus />
        </mat-form-field>
        <button mat-button mat-icon-button color="primary" (click)="showSearchBar()">
            <i class="fa fa-search fa-2x"></i>
        </button>
    </div>
</div>

<div class=container>
    <div fxLayout="row" fxLayoutWrap="wrap">
        <button mat-button class="float-right btn-lg" color="primary" id="add-product" (click)="openDialog('Add',{})" matTooltip="Add Product" matTooltipPosition="right">
            <i class="fa fa-plus-square fa-2x"></i>
        </button>
    </div>

    <div *ngIf="categories && categories.length > 0 else noCategories">
      <table mat-table #productTable [dataSource]="categories">
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let category"> {{category.name}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let category"> {{category.description}} </td>
          </ng-container>

          <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let category"> 
                <mat-slide-toggle [color]="color" [checked]="category.isActive"></mat-slide-toggle>
              </td>
          </ng-container>
          
          <!-- Action Column -->
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let category" class="action-link"> 
              <button mat-button color="primary" (click)="openDialog('Edit', category)" matTooltip="Edit Category" matTooltipPosition="right">
                  <i class="fa fa-pencil-square-o fa-2x"></i>
              </button>
              <button mat-button color="warn" (click)="openDialog('Archive', category)" matTooltip="Archive Category" matTooltipPosition="right">
                  <i class="fa fa-archive fa-2x"></i>
              </button>  
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
      </table>

      <mat-paginator [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>


    <ng-template #noCategories>
        No categories available.
    </ng-template>
</div>   
