<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <div class="row" fxFlex="15">
                Image
            </div>
            <div fxFlex></div>
            <div fxFlex="80">
            <mat-card-title>
                Hello World!
            </mat-card-title>
            <mat-card-subtitle class="text-center">Sample</mat-card-subtitle>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
            </div>
        </mat-card>
    </div>
    <!-- column -->
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="50">
        <mat-card>
            <div class="row" fxFlex="15">
                <i class="fa fa-user fa-2x"></i>
            </div>
            <div fxFlex></div>
            <div fxFlex="80">
            <mat-card-title>
                Hello World!
            </mat-card-title>
            <mat-card-subtitle class="text-center">Sample</mat-card-subtitle>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
            </div>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="50">
        <mat-card>
            <div class="row" fxFlex="15">
                Image
            </div>
            <div fxFlex></div>
            <div fxFlex="80">
            <mat-card-title>
                Hello World!
            </mat-card-title>
            <mat-card-subtitle class="text-center">Sample</mat-card-subtitle>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
            </div>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="50">
        <mat-card>
            <div class="row" fxFlex="15">
                Image
            </div>
            <div fxFlex></div>
            <div fxFlex="80">
            <mat-card-title>
                Hello World!
            </mat-card-title>
            <mat-card-subtitle class="text-center">Sample</mat-card-subtitle>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
            </div>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="50">
        <mat-card>
            <div class="row" fxFlex="15">
                Image
            </div>
            <div fxFlex></div>
            <div fxFlex="80">
            <mat-card-title>
                Hello World!
            </mat-card-title>
            <mat-card-subtitle class="text-center">Sample</mat-card-subtitle>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
            </div>
        </mat-card>
    </div>
    <!-- column -->
</div>