#top-nav {
    background-image: linear-gradient(rgb(3, 4, 73), rgba(3, 38, 155, 0.493))
}

#logo-text, .fa-shopping-bag {
    color: #ffffff
}

mat-sidenav {
    background-color: rgb(3, 4, 73);
    background-image: linear-gradient(rgba(3, 38, 155, 0.493), rgba(163, 163, 163, 0.719));
    color: #ffffff;
}