.content {
    height: 100%;
    box-sizing: border-box;
}

.btn-right {
    float: right;
}

button.mat-raised-button.mat-primary {
    margin-bottom: 2%;
}

.checked-done {
    text-decoration: line-through;
}

.not-checked {
    text-decoration: none;
}