<mat-toolbar id="top-nav" color="primary" class="topbar telative">
  
    <!-- ============================================================== -->
    <!-- Logo - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="navbar-header"  fxFlex.gt-lg="80" fxFlex.gt-md="80" fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80">
        <a class="navbar-brand" href="index.html">
            <!-- Logo icon -->
            <b>
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <!-- <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo"> -->
                <!-- Light Logo icon -->
                <!-- <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo"> -->
                <i class="fa fa-shopping-bag"></i>
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span fxShow="false" fxShow.gt-xs>
                <!-- dark Logo text -->
                <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"> -->
                <!-- Light Logo text -->
                <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"> -->
                <div class="p-10 font-bold" id="logo-text">
                    Quick Reach 
                </div>
            </span>
        </a>
    </div>
    <div fxFlex></div>
    <div fxFlex.gt-lg="15" fxFlex.gt-md="15" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="15">
      <button mat-raised-button class="p-l-20">
        Login
      </button>
      <button mat-raised-button class="m-l-10">
        Register
      </button>
    </div>
    
</mat-toolbar>